%% -*- erlang -*-
[
  "config/sys.config",
  {lager,
    [
      {log_root, "/var/log/miner"}
    ]},
    {blockchain,
    [
      {key, {ecc, [{key_slot, 0}, {onboarding_key_slot, 0}]}},
      {blessed_snapshot_block_height, 825121},
      {blessed_snapshot_block_hash,
      <<42,252,166,61,163,48,34,226,236,23,75,94,21,175,151,1,57,137,64,154,66,59,110,184,191,148,27,252,57,90,238,190>>}
    ]},
  {miner,
    [
      {use_ebus, true},
      {radio_device, { {0,0,0,0}, 1680,
        {0,0,0,0}, 31341} }
    ]}
].
