%% -*- erlang -*-
[
  "config/sys.config",
  {lager,
    [
      {log_root, "/var/log/miner"}
    ]},
    {blockchain,
    [
      {key, {ecc, [{key_slot, 0}, {onboarding_key_slot, 0}]}},
      {blessed_snapshot_block_height, 822961},
      {blessed_snapshot_block_hash,
      <<229,144,91,52,32,211,22,176,156,84,60,2,218,119,91,210,16,37,26,228,153,255,45,185,147,35,16,137,53,222,19,6>>}
    ]},
  {miner,
    [
      {use_ebus, true},
      {radio_device, { {0,0,0,0}, 1680,
        {0,0,0,0}, 31341} }
    ]}
].
